@namespace Dx29.Web.UI.Components

<Button CssClass="btn-light-primary min-w-100px" OnClick="OnClick">
    <i class="icon-lg flaticon2-edit"></i>
    <span>&nbsp;</span>
    <span>@Text</span>
</Button>

@code
{
    [Parameter]
    public string Text { get; set; }

    [Parameter]
    public EventCallback OnClick { get; set; }
}
