@namespace Dx29.Web.UI.Pages

@if (!String.IsNullOrEmpty(Text))
{
    <div class="literal">
        <svg width="1em" height="1em" viewBox="0 0 1500 1500" class="bi bi-chat-right-quote opa-75" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <g><path d="M465.7,73H10v350.6c0,129,26.9,230.9,80.7,305.6c53.8,74.6,146,140.6,276.6,197.8l98.5-186.3c-80.3-37.7-135.8-75.2-166.6-112.5c-30.7-37.3-47.8-81.5-51.3-132.4h217.9L465.7,73L465.7,73z M990,73H534.3l0,350.6c0,129,26.9,230.9,80.7,305.6c53.8,74.6,146,140.6,276.6,197.8L990,740.7c-80.3-37.7-135.8-75.2-166.6-112.5c-30.7-37.3-47.8-81.5-51.3-132.4H990L990,73L990,73z" /></g>
        </svg>
        @Text
        <svg width="1em" height="1em" viewBox="0 0 1500 1500" class="bi bi-chat-right-quote opa-75" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <g><path d="M534.3,495.8h217.9c-3.5,50.9-20.6,95.1-51.3,132.4c-30.7,37.3-86.3,74.8-166.6,112.5L632.8,927c130.6-57.2,222.8-123.1,276.6-197.8c53.8-74.7,80.7-176.5,80.7-305.6V73H534.3V495.8z M10,495.8h217.9c-3.5,50.9-20.6,95.1-51.3,132.4C145.8,665.5,90.3,703,10,740.7L108.5,927c130.6-57.2,222.8-123.1,276.6-197.8c53.8-74.7,80.7-176.5,80.7-305.6l0-350.6H10V495.8z" /></g>
        </svg>
    </div>
}

@code
{
    [Parameter]
    public string Text { get; set; }
}
