@namespace Dx29.Web.UI.Components

<div class="pb-2">
    <div class="font-size-h4 font-weight-bolder mt-1 @CssTitle">@Title</div>
    @if (Subtitle != null)
    {
        <div class="font-size-sm opa-75 @CssSubtitle">@Subtitle</div>
    }
</div>

@code
{
    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public string CssTitle { get; set; }

    [Parameter]
    public string Subtitle { get; set; }

    [Parameter]
    public string CssSubtitle { get; set; }
}
