::-ms-reveal {
    display: none;
}

#button-password:focus {
    box-shadow: 0 0 0 0rem;
}

#button-confirm-password:focus {
    box-shadow: 0 0 0 0rem;
}

#button-old-password:focus {
    box-shadow: 0 0 0 0rem;
}

#button-new-password:focus {
    box-shadow: 0 0 0 0rem;
}
