@namespace Dx29.Web.UI.Components

@typeparam TItem

<div class="row">
    <div class="col">
        <div class="pl-4 pr-2">
            @ContentHeader
            <div class="hide-scroll" style="min-height: 380px; overflow-y: auto">
                @Content
            </div>
        </div>
    </div>
</div>

@code
{ 
    [Parameter]
    public RenderFragment ContentHeader { get; set; }

    [Parameter]
    public RenderFragment Content { get; set; }
}
