@page "/UI/HPONavigator"

@attribute [AllowAnonymous]

<div style="height: 100%; width: 100%; display: flex; flex-direction: column; align-items: start; justify-content: flex-start; padding-bottom: 128px">
    <div class="container">
        <div class="row">
            <div class="col">
                <HPONavigatorDialog />
            </div>
        </div>
    </div>
</div>
