@namespace Dx29.Web.UI.Shared

@inject LocalizationService Localize

<Card>
    <CardIcon>
        <i class="icon-2x far fa-frown text-danger"></i>
    </CardIcon>
    <CardHeader>
        <CardTitle Title="@Localize["Unauthorized"]" Subtitle="" />
    </CardHeader>
    <CardBody>
        <div class="py-4">
            <h5>@Localize["Sorry, you are not authorized to access this resource."]</h5>
        </div>
    </CardBody>
</Card>
