@page
@model ForgotPasswordConfirmation

@using Dx29.Web
@using Microsoft.AspNetCore.Mvc.Localization

@inject IHtmlLocalizer<SharedResource> SharedLocalizer

@{
    ViewData["Title"] = @SharedLocalizer["Forgot password confirmation"];
}

<h1>@ViewData["Title"]</h1>

<p>
    @SharedLocalizer["Please check your email to reset your password."]
</p>

