@page
@model ResetPasswordModel

@using Dx29.Web
@using Microsoft.AspNetCore.Mvc.Localization

@inject IHtmlLocalizer<SharedResource> SharedLocalizer

@{
    ViewData["Title"] = @SharedLocalizer["Reset password"];
}

<h1>@ViewData["Title"]</h1>
<h4>@SharedLocalizer["Reset your password."]</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="Input.Code" type="hidden" />
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <div style="display: flex; align-items: center;">
                    <input asp-for="Input.Password" autocomplete="nope" class="form-control" id="password" />
                    <button id="button-password" class="btn" type="button">
                        <i id="icon-password" class="fa fa-eye"></i>
                    </button>
                </div>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword"></label>
                <div style="display: flex; align-items: center;">
                    <input asp-for="Input.ConfirmPassword" autocomplete="nope" class="form-control" id="confirmPassword" />
                    <button id="button-confirm-password" class="btn" type="button">
                        <i id="icon-confirm-password" class="fa fa-eye"></i>
                    </button>
                </div>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">@SharedLocalizer["Reset"]</button>
        </form>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
