@namespace Dx29.Web.UI.Components

@if (IsEmpty)
{
    @DataTableEmpty
}
else
{
    <Table CssClass="@CssClass">
        <TableHeader>
            @DataTableHeader
        </TableHeader>
        <TableBody>
            @DataTableBody
        </TableBody>
    </Table>
}

@code
{
    [Parameter]
    public string CssClass { get; set; }

    [Parameter]
    public bool IsEmpty { get; set; }

    [Parameter]
    public RenderFragment DataTableEmpty { get; set; }

    [Parameter]
    public RenderFragment DataTableHeader { get; set; }

    [Parameter]
    public RenderFragment DataTableBody { get; set; }
}
