@namespace Dx29.Web.UI.Components

<td class="@CssClass">
    <button class="btn btn-sm @CssClass" @onclick="OnClick" @onclick:stopPropagation>
        @ChildContent
    </button>
</td>

@code
{
    [Parameter]
    public string CssClass { get; set; }

    [Parameter]
    public string Text { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public EventCallback OnClick { get; set; }
}
