@namespace Dx29.Web.UI.Components

<div class="wizard-step" data-wizard-type="step" data-wizard-state="@State">
    <div class="wizard-wrapper">
        <div class="wizard-icon">
            @Icon
        </div>
        <div class="wizard-label">
            @Label
        </div>
    </div>
</div>

@code
{
    [CascadingParameter]
    public Wizard ContainerWizard { get; set; }

    [Parameter]
    public int Position { get; set; }

    [Parameter]
    public RenderFragment Icon { get; set; }

    [Parameter]
    public RenderFragment Label { get; set; }

    public string State => Position == ContainerWizard.Index ? "current" : Position < ContainerWizard.Index ? "done" : "pending";

    protected override void OnInitialized()
    {
        ContainerWizard.Steps++;
    }
}
